body.light{
    background-color: white;
    color: black;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark{
    background-color: #121212;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.toogle_mode{
    background-color: rgb(223, 39, 217);
    height: 50px;
    width: 100%;
    position: fixed;
    right: 0px;
    top: 0px;
}

.slider{
    background-color: rgb(90, 88, 88);
    height: 10px;
    width: 35px;
    border-radius: 10%;
    position: relative;
    left: 96%;
    top: 20px;
    transition: transform 0.3s ease; 
}

.slider:hover{
    transform: scale(1.2,1.2);
}

.thumb{
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: relative;
    left: 0px;
    bottom: 2px;
    transition: left 0.3s ease;
}

.profile_card{
    height: 450px;
    width: 450px;
    border-radius: 10px;
    background-color: rgb(246, 240, 240);
    position: relative;
    top: 150px;
    left: 580px;
    box-shadow: 5px 10px 5px rgb(58, 57, 58);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile_card:hover{
    transform: scale(1.1,1.1);
    box-shadow: 5px 10px 5px rgb(223, 39, 217);
}

.top_frame{
    height: 200px;
    width: 450px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(223, 39, 217);
    position: relative;
}

.image_container{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: solid 3px rgb(223, 39, 217);
    position: relative;
    left: 130px;
    top: 25px;
}

.image img{
    height: 195px;
    width: 195px;
    border-radius: 50%;
    background-color: rgb(223, 39, 217);
    position: relative;
    left: 3px;
    top: 2px;
    object-fit: cover;
}

.credentials{
    position: relative;
    left: 150px;
}

.credentials h2{
    margin-top: 25px;
    margin-bottom: 5px;
}

.credentials h3{
    margin-top: 0px;
    position: relative;
    left: 8px;
    font-style: italic;
}

.social_media{
    position: relative;
    left: 100px;
    top: -20px;
}

.social_media ul{
    list-style: none;
    display: flex;
    float: left;
    gap: 25px;
}

.social_media a {
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s ease, transform 0.5s ease;
}

.fa-facebook-f {
    color: #1f5de2; 
}

.fa-youtube {
    color: #ff0000;
}

.fa-instagram {
    color: #e4405f; 
}

.fa-linkedin-in {
    color: #0077b5;
}

li:hover {
    transition: transform 0.5s ease;
    transform: scale(1.5,1.5);
}


.footer{
    background-color: rgb(223, 39, 217);
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    color: white;
    text-align: center;
}